body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.hero-image {
  background-image: url("Images/Layout.jpg");
  background-color: rgb(255, 195, 0);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-photo {
  background-image: url("Images/Water.jpg");
  background-color: rgb(255, 195, 0);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.6);
  color: white;
  font-weight: bold;
  border: 3px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
span {
  border: 0.3px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  padding: 1px
}
.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: rgb(255, 195, 0);
}
.all-browsers > h1, .browser {
  text-align: center;
  margin: 10px;
  padding: 5px;
  color: rgb(0, 0, 0);
}
.browser {
  background: rgb(255, 195, 0);
}
.browser > h2, p {
  text-align: center;
  margin: 4px;
  font-size: 90%;
  color: rgb(0, 0, 0);
}
table, th, td {
  border:1px solid rgb(0, 0, 0);
  width: 100%;
}
div.gallery {
  margin: 25px;
  float: center;
  width: 400px;
}

div.gallery img:hover {
  border: 1px;
}

div.gallery img {
  width: 100%;
  height: auto;
}
